<div class="total sidebar-container">
    <div class="total_title sidebar-container-title">
        <p>站点统计</p>
    </div>
    <div class="total_content sidebar-container-content">
        <div class="total_content-item">
            <span>文章：{{.InitData.ArticleTotalCount}}篇</span>
        </div>
        <div class="total_content-item">
            <span>分类：{{.InitData.NavBarCount}}个</span>
        </div>
        <div class="total_content-item">
            <span>页面：{{.InitData.PagesCount}}个</span>
        </div>
        <div class="total_content-item">
            <span>更新：{{.InitData.UpdateTime }}</span>
        </div>
    </div>
</div>