<div class="total sidebar-container">
    <div class="total_title sidebar-container-title">
        <p>站点统计</p>
    </div>
    <div class="total_content sidebar-container-content">
        <div class="total_content-item">
            <span>文章：{{.Total.article}}篇</span>
        </div>
        <div class="total_content-item">
            <span>分类：{{.Total.navBar}}个</span>
        </div>
        <div class="total_content-item">
            <span>页面：{{.Total.pages}}个</span>
        </div>
        <div class="total_content-item">
            <span>更新：{{.Total.updateTime }}</span>
        </div>
    </div>
</div>