<!-- 引入 自定义 editor css-->
<link rel="stylesheet" href="/wangEditor/editor-content-view.css">
<!-- 引入 prism css -->
<link href="/wangEditor/prism.css" rel="stylesheet">
<style>
    .category-title {
        font-size: 1.5rem;
        line-height: 1.4;
        color: #333333;
    }
    .category-info {
        padding: 20px;
    }
    .category-info-item {
        margin-left: 5px;
        font-size: 18px;
        color: #00000073;
    }
    .category-content {
        overflow: auto
    }
    .container-content {
        overflow-x: auto;
    }
    /*在小于480 像素的屏幕，微小屏幕，更低分辨率的手机*/
    @media (max-width: 940px) {
        .category {
            padding: 10px;
            margin: 10px;
        }
    }
</style>