<title>{{.Article.Title}} - 前端笔记</title>
<meta name="keywords" content="{{.Article.Title}},前端笔记，js，javascript，jq，query，git，vue，html，css，node.js">
<meta name="description" content="{{.Article.Title}},人生如同一面镜子，假如你对它微笑，它也回报你微笑，我的人生信条还是不断的改变现状，求真务实，明天更美好，人生重要的问题，不在于人拥有什么，而在于怎样使用它，人与人关系上最宝贵的是真诚，善于理解便是快乐人生。">

<link rel="stylesheet" href="https://at.alicdn.com/t/font_3334104_ca9w7wnwgc.css">
<!-- 引入 自定义 editor css-->
<link rel="stylesheet" href="/static/wangEditor/editor-content-view.css">
<!-- 引入 prism css -->
<link href="/static/wangEditor/prism.css" rel="stylesheet">

<style>

    .category-title{
        font-size: 1.5rem;
        line-height: 1.4;
        color: #333333;
    }
    .category-info{
        padding: 20px;
    }
    .category-info-item{
        margin-left: 5px;
        font-size: 18px;
        color: #00000073;
    }
    .category-content{
        overflow: auto
    }
    .container-content {
        overflow-x: auto;
    }


    /*在小于480 像素的屏幕，微小屏幕，更低分辨率的手机*/
    @media (max-width: 940px) {
        .category{
            padding: 10px;
            margin: 10px;
        }
    }
</style>