{{template "admin/article/css" .}}
<div class="uk-card uk-card-default uk-card-body ">
    <h1>编辑文章</h1>
    <div class="uk-grid ">
        <div class="uk-width-2-3@m">
            <input type="hidden" value="{{.Result.Uid}}" id="id">
            <input class="uk-input " type="text" name="username" placeholder="文章标题" id="title"
                value="{{.Result.Title}}">
            <div id="editor—wrapper" style="margin-top: 10px">
                <div id="toolbar-container"><!-- 工具栏 --></div>
                <div id="editor-container"><!-- 编辑器 --></div>
            </div>
        </div>
        <div class="uk-width-1-3@m ">
            {{$id := .Result.NavBarId}}
            <div class="uk-form-stacked" style="text-align: left">
                <label class="uk-form-label" for="form-stacked-navBarId">选择分类</label>
                <div class="uk-form-controls">
                    <select class="uk-select sort" id="form-stacked-navBarId">
                        {{range $index,$elem:= .Sort}}
                        {{if eq $id $elem.Uid}}
                        <option selected value="{{$elem.Uid}}">{{$elem.Title}}</option>
                        {{else}}
                        <option value="{{$elem.Uid}}">{{$elem.Title}}</option>
                        {{end}}
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="uk-form-stacked" style="text-align: left">
                <label class="uk-form-label" for="form-stacked-tag">选择标签</label>
                <div class="uk-form-controls">
                    <input class="uk-input " id="form-stacked-tag" type="text" name="username" placeholder="标签">
                </div>
            </div>
            <div class="uk-form-stacked" style="text-align: left">
                <label class="uk-form-label" for="form-stacked-sort">排序</label>
                <div class="uk-form-controls">
                    <input class="uk-input " id="form-stacked-sort" type="text" name="username" value="{{.Result.Sort}}"
                        placeholder="标签">
                </div>
            </div>
            <div class="uk-form-stacked" style="text-align: left">
                <label class="uk-form-label" for="form-stacked-show">显示/隐藏</label>
                <div class="uk-form-controls">
                    <select class="uk-select sort" id="form-stacked-show">
                        {{if eq 2 .Result.Show}}
                        <option selected value="2">显示</option>
                        <option value="1">隐藏</option>
                        {{else}}
                        <option value="2">显示</option>
                        <option selected value="1">隐藏</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="uk-form-stacked" style="text-align: left">
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" style="margin-top: 10px"
                    id="edit-btn">编辑文章
                </button>
            </div>
        </div>
    </div>
    <div />


</div>
<!--编辑-->
<script type="text/javascript" src="/js/admin/wangEditor.5.1.js"></script>

<script>
    const { createEditor, createToolbar } = window.wangEditor

    const editorConfig = {
        placeholder: 'Type here...',
        onChange(editor) {
            const html = editor.getHtml()
            // 也可以同步到 <textarea>
        }
    }

    const editor = createEditor({
        selector: '#editor-container',
        html: {{.Result.ContentHtml }},
    config: editorConfig,
        mode: 'default', // or 'simple'
    })

    const toolbarConfig = {}

    const toolbar = createToolbar({
        editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'default', // or 'simple'
    })

    let btn = document.querySelector('#edit-btn')
    btn.addEventListener('click', function () {

        let parents = $(this).parent().siblings()

        // 组装数据
        var data = {
            id: $('#id').val(),
            sort: parents.find("#form-stacked-sort").val(),    // 排序
            title: $('#title').val(),    // 标题
            content: editor.getText().substring(0, 100),    // 内容
            contentHtml: editor.getHtml(),    // html内容
            pic: "",    // 主图
            show: parents.find("#form-stacked-show").val(),// 是否显示，1为否，2为是
            navBarId: parents.find("#form-stacked-navBarId").val(),    // 导航栏uid
        }
        // 发生post请求
        $.ajax({
            type: "POST",
            url: "/admin/article/edit",
            data: data,
            dataType: "json",
            success: function (data) {
                window.location.href = "/admin/article"
            }
        });
    })
</script>
{{template "admin/article/js" .}}