<script>
    $('.admin_baidu').click(function () {
        $.ajax({
            type: "POST",
            url: "/admin/article/baidu",
            data: {
                id: $(this).parent().find('input').val()
            },
            dataType: "json",
            success: function (data) {
                console.log(JSON.parse(data))
                if (JSON.parse(data).success === 1) {
                    UIkit.notification({ message: '百度推送成功', status: 'success' })
                } else {
                    UIkit.notification({ message: '百度推送失败', status: 'warning' })
                }
                // window.location.href = "/admin/article"
            }
        });
    })
    $('.admin_edit').click(function () {
        location.href = "/admin/article/edit?id=" + $(this).parent().find('input').val()
    })
    // 确定删除
    $('.article_del').click(function () {
        $('#article-delete').find("span").html($(this).parent().find('input').val())
    })
    $('.article-del-save').click(function () {
        $.ajax({
            type: "POST",
            url: "/admin/article/del",
            data: {
                id: $(this).parent().parent().find("span").text()
            },
            dataType: "json",
            success: function (data) {
                window.location.href = "/admin/article"
            }
        });
    })
</script>