<div class="sidebar">
  <ul>
    <li>
      <div class="sidebar_img">
        <a href="/" target="_blank">
          <img src="https://blog.dbsgw.com/admin/views/images/avatar.jpg" alt=""></a>
      </div>
    </li>
    <li><a href="/admin/article/add">写文章</a></li>
    <li><a href="/admin/article">文章</a></li>
    <li><a href="#">标签</a></li>
    <li><a href="/admin/navbar">分类</a></li>
    <li><a href="#">页面</a></li>
    <li><a href="/admin/link">友链</a></li>
    <li><a href="#">外观</a></li>
    <li><a href="#">系统</a></li>
  </ul>
</div>