<link rel="stylesheet" href="/pagination/pagination.css">
<style>
    /*分页*/
    .pagination-section {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    /*文章*/
    .article {
        border: 1px solid #eaeaea;
        padding: 20px;
    }
    .article:hover {
        border-color: #9466ff;
        background-color: #f3eeff;
    }
    .article_container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: left;
    }
    .article_right {
        margin-left: 10px;
    }
    .article_container .article_right_title h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .article_container .article_right_describe {
        font-size: 14px;
        color: #555;
    }
    .article_container .article_left img {
        max-width: none;
        width: 160px;
        height: 110px;
    }
    /*在小于960 像素的屏幕，微小屏幕，更低分辨率的手机*/
    @media (max-width: 960px) {
        article {
            margin: 10px;
        }
        .container-content {
            width: 100%;
        }
    }
</style>