{{range $index,$elem := .Article}}
<article>
    <a href="/category/{{$elem.Uid}}.html" class="a">
        <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom article"
             style="margin: 10px 0 ">
            <div class="article_container ">
                <div class="article_left">
                    <img src="https://blog.dbsgw.com/content/templates/Fys/images/random/10.jpg" alt="">
                </div>
                <div class="article_right">
                    <div class="article_right_title hide2">
                        <h3 title="{{$elem.Title}}">{{$elem.Title}}</h3>
                    </div>
                    <div class="article_right_describe uk-visible@m">
                        {{$elem.Content}}
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>
{{end}}
<!--分页-->
<div class="pagination-section">
    <div id="pagination"></div>
</div>


    