<title>前端笔记 - 乾坤未定你我皆是黑马</title>
<meta name="keywords" content="前端笔记，js，javascript，jq，query，git，vue，html，css，node.js">
<meta name="description"
    content="人生如同一面镜子，假如你对它微笑，它也回报你微笑，我的人生信条还是不断的改变现状，求真务实，明天更美好，人生重要的问题，不在于人拥有什么，而在于怎样使用它，人与人关系上最宝贵的是真诚，善于理解便是快乐人生。">

<link rel="stylesheet" href="/pagination/pagination.css">
<style>
    /*分页*/
    .pagination-section {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    /*文章*/
    .article {
        border: 1px solid #eaeaea;
        padding: 20px;
    }

    .article:hover {
        border-color: #9466ff;
        background-color: #f3eeff;
    }

    .article_container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: left;
    }

    .article_right {
        margin-left: 10px;
    }

    .article_container .article_right_title h3 {
        font-size: 18px;
        font-weight: bold;
    }

    .article_container .article_right_describe {
        font-size: 14px;
        color: #555;
    }

    .article_container .article_left img {
        max-width: none;
        width: 160px;
        height: 110px;
    }

    /*热门推荐*/
    .acrid {
        font-size: 12px;
        overflow: hidden;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 5px;
    }

    .acrid_widget {
        height: 25px;
        font-size: 14px;
        border-bottom: solid 1px #e6e6e6;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    .acrid ul {
        padding: 0;
        margin: 0;
    }

    .acrid-item {
        overflow: hidden;
        clear: both;
        margin-bottom: 9px;
        width: 100%;
    }

    .acrid-item-sort {
        position: relative;
        display: inline-block;
        padding: 5px 7px;
        line-height: 14px;
        color: #fff;
        vertical-align: baseline;
        white-space: nowrap;
        background-color: #999;
        margin-right: 8px;
        border-radius: 3px;
    }

    .acrid-item-content {
        flex: 1;
    }

    .acrid-item-info {
        margin-left: 20px;
    }

    /*在小于960 像素的屏幕，微小屏幕，更低分辨率的手机*/
    @media (max-width: 960px) {
        article {
            margin: 10px;
        }

        .container-content {
            width: 100%;
        }

        .acrid {
            margin: 10px;
        }

        .pagination-section {
            margin: 0;
            margin-bottom: 10px;
        }
    }
</style>