<script src="/static/pagination/pagination.min.js"></script>
<script>
  (function() {
    var container = $('#pagination');
    var sources = function () {
      var result = [];

      for (var i = 1; i < {{.TotalNumber}}; i++) {
        result.push(i);
      }

      return result;
    }();

    var options = {
      dataSource: sources,
      pageSize:10,
      pageNumber:{{.PageNumber}},
    callback: function (response, pagination) {
      window.console && console.log(response, pagination);

      var dataHtml = '<ul>';

      $.each(response, function (index, item) {
        dataHtml += '<li>' + item + '</li>';
      });

      dataHtml += '</ul>';

      container.prev().html(dataHtml);
    }
  };

    //$.pagination(container, options);

    container.addHook('beforeInit', function () {
      window.console && console.log('beforeInit...');
    });
    container.pagination(options);

    container.addHook('beforePageOnClick', function (response, pagination) {
      window.location.href = `?pageNumber=${pagination}`
      //return false
    });
  })();
</script>