<!--头部-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>前端笔记 - 乾坤未定你我皆是黑马</title>
  <meta name="keywords" content="前端笔记，js，javascript，jq，query，git，vue，html，css，node.js">
  <meta name="description"
        content="人生如同一面镜子，假如你对它微笑，它也回报你微笑，我的人生信条还是不断的改变现状，求真务实，明天更美好，人生重要的问题，不在于人拥有什么，而在于怎样使用它，人与人关系上最宝贵的是真诚，善于理解便是快乐人生。">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/css/uikit.min.css" />
  <!--    全局css-->
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_3334104_ca9w7wnwgc.css">
  <link rel="stylesheet" href="/css/global.css">
  <!-- UIkit JS -->
  <script src="/js/uikit.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/web/ly.js"></script>
</head>
<style>
  .web_nav a {
    display: block;
  }
</style>
<body>
  {{template "web/layout/common/head" .}}
  <!--博客首页-->
  <div class="w container">
    <div class="container-content">
      {{embed}}
    </div>
    <div class="container-sidebar uk-visible@m">
      {{template "web/layout/sidebar/index" .}}
    </div>
  </div>
  <!--尾部-->
  {{template "web/layout/common/footer" .}}
</body>
</html>