<div class="uk-card uk-card-default uk-card-body">
    <h1>导航栏管理</h1>
    <a href="/admin/navbar/add" style="margin-bottom: 10px;display: inline-block;">
        <button class="uk-button uk-button-default">添加导航栏</button>
    </a>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-expand">名称</th>
                <th class="uk-table-expand">排序</th>
                <th class="uk-table-expand">是否可见</th>
                <th class="uk-table-expand">操作</th>
            </tr>
        </thead>
        <tbody>
            {{range $index,$elem := .navBarAll}}
            <tr>
                <td>{{$elem.Title}}</td>
                <td>{{$elem.Sort}}</td>
                <td>
                    {{if eq 2 $elem.Show}}
                    <button class="uk-button uk-button-primary" disabled>显示</button>
                    {{else}}
                    <button class="uk-button uk-button-secondary" disabled>隐藏</button>
                    {{end}}
                </td>
                <td>
                    <input type="hidden" value="{{$elem.Uid}}">
                    <button class="uk-button uk-button-primary navBar_edit">编辑</button>
                    <a href="#navBar-delete" uk-toggle class="uk-button uk-button-danger navBar_del">删除</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<div id="navBar-delete" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>确定删除吗?</p><span></span>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary navBar-del-save" type="button">确定</button>
        </p>
    </div>
</div>